<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>StopToad</title>
		<meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="distribution" content="all" />
		<meta name="robots" content="all" />	
		<meta name="resource-type" content="document" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
		<style>body {font-size:12px;text-align: center;font-family:arial,helvetica,sans-serif;color:#333;}a{display:block;margin-top: 2.5em;margin:auto;background-color:#bca12c;padding:12px;padding-top:14px;padding-bottom:14px;-moz-border-radius:7px;-webkit-border-radius:7px;-khtml-border-radius:7px;border-radius:7px;border:0 solid black;color: white;}h2{margin-top:4em;color:#bca12c;font-size:1.25em;}</style>
	</head>
	<body>
		<img src="images/stoptoad.png" alt="StopToad" id="logo"/>
		<h2>Stoptoad Complete!</h2> 
		<a href='/'>Back</a>
	</body>
</html>