<form action="resolve">

	<label for="site">Site</label>
	<input type="text" name="site"/>

	<label for="key">Key</label>
	<input type="text" name="key"/>

	<input type="submit" value="Stoptoad"/>

</form>